
<div class="text-center mt-5">
  <h1>Danh sách nhà của bạn</h1>
</div>
<div class="" *ngFor="let house of listHouse;">
  <div class="row m-5 room" *ngIf="house.nameHouse === house.nameHouse">
    <div class="col-3">
      <img src="{{house.imageUrls}}" class="m-3" width="100%" alt="imgNha1">
    </div>
    <div class="col-8 ml-5">
      <div class="row">
        <div class="m-2">
          <h1>{{house.nameHouse}}</h1>
        </div>
      </div>
      <div class="row">
        <div class=" m-2">
          Địa chỉ: {{house.address}}
        </div>
      </div>
      <div class="row">
        <div class=" m-2">
          Số lượng phòng ngủ: {{house.amountBedRoom}}
        </div>
      </div>
      <div class="row">
        <div class=" m-2">
          Số lượng phòng tắm: {{house.amountBathRoom}}
        </div>
      </div>
      <div class="row">
        <div class="m-2">
          <a [routerLink]="['/user/house/detail-house', house.id]" class="btn btn-secondary"
             style="width: 100px;">Chi tiết</a>
        </div>
      </div>
    </div>
  </div>

</div>
