<nav class="navbar navbar-expand-lg navbar-light bg-light menu fixed-top">
  <a class="navbar-brand" href=""><img src="https://github.com/nhuanh9/frontendSPA/blob/NAL/src/assets/myLogo2.png?raw=true" height="40px" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="background: white !important;">
    <span class="navbar-toggler-icon" style="color: white !important;"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink=""> Trang chủ <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/create-house">Tạo nhà</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Loại nhà</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Giá chỗ ở</a>
      </li>
      <li class="nav-item">

      </li>
    </ul>
<!--    <form class="form-inline mr-2" formGroup="search" (ngSubmit)="search()">-->
<!--      <input type="text" class="form-control " formControlName="addressSearch" style="color: black !important;">-->
<!--      <button type="submit" class="btn btn-outline-light "><i class="fas fa-search"></i></button>-->
<!--    </form>-->
    <form class="form-inline my-2 my-lg-0">
      <button type="button" class="btn btn-outline-light mr-sm-2 " routerLink="login">Đăng nhập</button>
      <button type="button" class="btn btn-outline-light" routerLink="register">Đăng ký</button>
    </form>
  </div>
</nav>
