
<div class="text-center mt-5">
  <h1>Danh sách đơn đặt phòng</h1>
</div>
<div class="" *ngFor="let order of orders;">
  <div class="row m-3 room">
    <div class="ml-5">
      <div class="row">
        <div class="m-1">
          <h1>Người đặt: {{order.nameGuest}}</h1>
        </div>
      </div>
      <div class="row">
        <div class=" m-1">
          Số điện thoại {{order.phoneNumber}}
        </div>
      </div>
      <div class="row">
        <div class=" m-1">
          Từ ngày: {{order.formDate.substring(0, 10)}}
        </div>
      </div>
      <div class="row">
        <div class=" m-1">
          Đến : {{order.toDate.substring(0, 10)}}
        </div>
      </div>
      <div class="row">
        <div class=" m-1">
          Tông tiền: {{order.total}}
        </div>
      </div>
      <div class="row">
        <div class=" m-1" *ngIf="order.statusOder === 'WaitAccept'">
          Trạng thái: Chờ xác nhận
        </div>
      </div>
      <div class="row">
        <div class="m-2">
          <a class="btn btn-success" style="width: 100px; color: white">Chấp nhận</a>
          <button type="button" class="btn btn-danger ml-3" (click)="deleteOrder(order)">Từ chối</button>
        </div>
      </div>
    </div>
  </div>

</div>
