<!--<app-carousel></app-carousel>-->
<div class="row container-fluid mt-5 ml-1 mb-5">
  <div class="col-3 test"></div>
  <div class="card text-center register col-lg-6 " style="background: white !important;">
    <div class=" text-center mt-2">
      <h2>Thông tin cá nhân</h2>
    </div>
    <div class="row">
      <div class="col-4">
        <img src="{{currentUser.imageUrls}}" alt="user image" width="100%" class="mb-3" style="border-radius: 15px; ">
      </div>
      <div class="col-7 text-left mt-3">
        <div class="row">
          <div class="col-5 "><h3>Họ và tên</h3></div>
          <div class="col-7"><h3>: {{currentUser.lastName}} {{currentUser.firstName}}</h3></div>
        </div>
        <div class="row">
          <div class="col-5">
            <h5>Tên người dùng</h5>
          </div>
          <div class="col-7">
            <h5>: {{currentUser.username}}</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            <h5>Email</h5>
          </div>
          <div class="col-7">
            <h5>: {{currentUser.email}}</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            <h5>Số điện thoại</h5>
          </div>
          <div class="col-7">
            <h5>: {{currentUser.phoneNumber}}</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            <h5>Giới Tính</h5>
          </div>
          <div class="col-7">
            <h5>: {{currentUser.gender}}</h5>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-2"></div>
          <button class="btn btn-primary nutPhai mr-2" [routerLink]="['/user/list-your-house',currentUser.id]">Nhà của bạn</button>
          <a [routerLink]="['/user/update-profile',currentUser.id]" class="btn btn-secondary mr-2">Cập nhật TTCN</a>
          <button class="btn btn-info nutPhai mr-2" [routerLink]="['/user/list-orders',currentUser.id]">Đơn của bạn</button>
        </div>
      </div>

    </div>
  </div>
</div>
