.order-in-detail {
  -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.75);
}

.info-house {
  //border-radius: 5px 5px 5px 5px;
  //-moz-border-radius: 5px 5px 5px 5px;
  //-webkit-border-radius: 5px 5px 5px 5px;
  //border: 1px solid #000000;
  //background: rgba(0,0,0,0.01);
}

.detail {
  font-size: 20px;
}

.thumbnail {
  position: relative;
  text-align: center;
  border: 3px solid rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  background: #f2fff3 !important;
  -webkit-box-shadow: 0px 0px 15px -8px rgb(0, 0, 0);
  -moz-box-shadow: 0px 0px 15px -8px rgb(0, 0, 0);
  box-shadow: 0px 0px 15px -8px rgb(0, 0, 0);
}

img {
  transition: transform .8s;
}

.house :hover img {
  transform: scale(1.05);
  border-radius: 5px;
}

.house :hover .productName a {
}

.booked {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(242, 255, 243);
}
.imageProduct{
  -webkit-box-shadow: 0px 0px 8px 0.1px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 8px 0.1px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 8px 0.1px rgba(0,0,0,0.15);
}
